article.postagem img{
	display: block;
	width: 50%;
	height: auto;
	margin: auto;
}

article.postagem pre{
	margin-left:20px;
}

blockquote.citacoes {
	font-style: italic;
	text-align: center;
}

.chamada-destaque {
	margin-bottom: 8px;
	padding: 8px;
}

.chamada-destaque img.thumb {
	width:256px;
	height:256px;
	float:right;
}
