---
layout: default
---
<section class="container">
	{% for post in site.posts %}
	{% if post.slug == site.featured %}
<div class="row rounded text-body-emphasis bg-body-secondary chamada-destaque">
	<div class="col-lg-6 px-0">
		<small>Em destaque</small>	
		<h1 class="display-4 fst-italic">{{post.title}}</h1> 
		<p class="lead my-3">{{post.excerpt}}</p> 
		<p class="lead mb-0">
			<a href="{{ post.url }}" class="text-body-emphasis fw-bold">Continue lendo...</a>
		</p> 
	</div>
	<div class="col-lg-6">
		<a href="{{ post.url }}">
			<img class="thumb" src="/img/{{post.coverimg}}"/>
		</a>
	</div>
</div>
{% endif %}
{% endfor %}

{% assign ultimo = site.posts | first %}
<div class="row g-5">
	<div class="col-md-8">
		<article class="postagem">
		<time>{{ultimo.date| date: "%d/%m/%Y" }}</time>	
		<a href="{{ultimo.url}}">
			<h3 class="pb-4 mb-4 border-bottom">{{ultimo.title}}</h3>
		</a>
		{% if ultimo.coverimg %}
		<img src="/img/{{ultimo.coverimg}}"/>
		{% endif %}
		{{ultimo.content}}
		</article>
	</div>
	<div class="col-md-4">
		{% include sidebar.html %}	
	</div>
</div>
 
</div>

</section>
