article.postagem img{
	display: block;
	width: 256px;
	height: auto;
	margin: auto;
}

article.postagem pre{
	margin-left:20px;
}

blockquote.citacoes {
	font-style: italic;
	text-align: center;
}

.chamada-destaque {
	text-align: center;
	margin-bottom: 16px;
	padding: 8px;
	border-bottom: 8px black groove;
}

.chamada-destaque img.thumb {
	width:256px;
	max-width: 50%;
	height:auto;
}

a.avatar {
object-fit: cover; 
border: 3px solid #f8f9fa;
}

.sobre {
	text-align: center;
}

.sobre h3 {
	font-style: italic;
}

.sobre .avatar img {
	width:128px;
	height:128px;
}
